/*=====================
   Short Cuts  
  =====================*/

.flex {
	display: flex;
}

.flex__sb {
	justify-content: space-between;
}

.flex__col {
	flex-direction: column;
}

/*=====================
   layout   
  =====================*/
.layout {
	display: flex;
	flex-direction: column;
}

/*=====================
   header   
  =====================*/
.header {
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.header_logo {
	border: solid red 1px;
	margin-left: 1em;
	margin-top: 12px;
}


.header_searchBar {
	border: solid red 1px;
}

.header_searchBar input {
	margin-top: 26px;
	width: 924px;
	height: 2em;
	border: none;
	background-color: #f5f5f5;
	padding: 12px 6px 12px 24px;
	border-radius: 12px;
}

.header_user {
	border: solid red 1px;
	margin-right: 1em;
	margin-top: auto;
	margin-bottom: auto;
}

.header_user_details {
	display: flex;
	align-items: center;
}

.header_user_details_name {
	margin: 0 0.5em;
}
/*=====================
   nav   
  =====================*/
.nav {
	margin-left: 0;
	width: 264px;
	height: 924px;
}

.nav_list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 1em;
	margin-top: 22px;
}
.nav_list_link {
	margin-left: 0;
	margin-bottom: 24px;
	align-self: left;
	font-size: 14px;
	font-weight: 600;
	color: #c3c7c7;
	cursor: pointer;
	display: flex;
}

.nav_list_link_icon {
	margin-right: 5px;
}

.nav_list_link:active {
	color: black;
}

/*=====================
   content   
  =====================*/

.split {
	display: flex;
	width: 100%;
}
