/*=====================
   Short Cuts  
  =====================*/

.flex {
	display: flex;
}

.flex__sb {
	justify-content: space-between;
}

.flex__col {
	flex-direction: column;
}
/*=====================
   header   
  =====================*/
.header {
	background-color: bisque;
	height: 100px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header_logo {
	border: solid red 1px;

	margin-left: 1em;
	margin-top: 12px;
	width: 264px;
}
.header_logo_img {
}

.header_searchBar {
	border: solid red 1px;
}

.header_searchBar input {
	margin-top: 26px;
	width: 924px;
	height: 2em;
	border: none;
	background-color: #f5f5f5;
	padding: 12px 6px 12px 24px;
	border-radius: 12px;
}

.header_user {
	border: solid red 1px;
	margin-right: 1em;
	margin-top: 26px;
}

.header_user_details {
	display: flex;
}

.header_user_details_name {
	margin: 0 0.5em;
}
/*=====================
   nav   
  =====================*/
.nav {
	margin-left: 0;
	width: 264px;
	height: 924px;
	background-color: beige;
	border: 1px solid red;
}

.nav_list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 1em;
}
.nav_list_link {
	margin-left: 0;
	margin-bottom: 1em;
	align-self: left;
	font-size: 14px;
	font-weight: 600;
	color: #c3c7c7;
	cursor: pointer;
}

.nav_list_link:active {
	color: black;
}
