/*===============
Fonts 
================= */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

/* font family */
/* --ff-primary: 'Roboto', sans-serif;
--ff-secondry: 'Inter', sans-serif; */

/*===============
shorts cuts 
================= */

.flex {
	display: flex;
}

.flex__sb {
	justify-content: space-between;
}

.flex__col {
	flex-direction: column;
}
/*===============
================= */
.header {
	background-color: aquamarine;
}

.hero {
}
