/*=====================
   Short Cuts  
  =====================*/

.flex {
	display: flex;
}

.flex__sb {
	justify-content: space-between;
}

.flex__col {
	flex-direction: column;
}
/*=====================
   layout   
  =====================*/
.nav {
	height: 44px;
	width: 100%;
	background-color: #67CECC;
	margin: 0;
	align-items: center;
	justify-items: center;
}

.hero {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	background-image: url('/images/hero.png');
	background-position: center;
	background-size: cover;
	min-height: 164px;
	width: 100%;
}

.hero__logo {
	align-self: flex-start;
	margin-top: 4px;
}

.hero__menu {
	margin-left: 14px;
}

.hero__search {
	cursor: pointer;
	margin-right: 14px;
}

.scrollbar {
	margin-top: 6px;
	margin-left: 16px;
}

.scorllbar__item {
	background: var(--clr-primary);
	border-radius: 7px;
	margin: 0;
	margin-right: 16px;
	cursor: pointer;
	white-space: nowrap;
	padding: 8px 16px;
}

.scorllbar__text {
	font-size: var(--fs-list);
	font-family: var(--ff-secondary);
	font-weight: var(--fw-700);
	color: var(--fc-white);
}

/* hamburger menu */
