
/*===============
shorts cuts 
================= */

.flex {
	display: flex;
}

.flex__sb {
	justify-content: space-between;
}

.flex__col {
	flex-direction: column;
}
/*===============
================= */
.header {
	background-color: aquamarine;
}
