/*=====================
   Short Cuts  
  =====================*/

.flex {
	display: flex;
}

.flex__sb {
	justify-content: space-between;
}

.flex__col {
	flex-direction: column;
}
/*=====================
   layout   
  =====================*/

/* addresse */
.card {
	width: 100%;
	margin: 0 auto;
}

.card_header {
	text-align: center;
	margin-top: 20px;
	padding-bottom: 20px;
	font-size: var(--fs-title);
	border-bottom: 1px solid #67cecc;
	display: flex;
}
.card_header_title {
	width: 90%;
}

.card_header_button {
	cursor: pointer;
	border: none;
	color: white;
	background-color: var(--clr-action);
	padding: 0.125em 0.25em;
	border-radius: 5px;
	font-weight: var(--fw-600);
}

.card_control {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-bottom: 1px solid #67cecc;
	padding-bottom: 0.5em;
	margin-top: 1em;
}

.card_control_name,
.card_control_address,
.card_control_phone {
	margin-left: 1em;
}

.card_control_trash {
	cursor: pointer;
	margin-left: 1em;
}

.control {
	margin-top: 2em;
	margin-right: 1em;
	text-align: right;
}
/* form */

.form {
	padding: 1rem;
	margin-top: 0.25em;
	font-family: var(--ff-primary);
	font-weight: var(--fw-600);
}

.control {
	margin-bottom: 0.5rem;
}

.control label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.control input {
	height: 36px;
	display: block;
	font: inherit;
	background-color: var(--clr-input);
	border-radius: 4px;
	border: none;
	width: 100%;
	padding-left: 2em;
}

.actions {
	margin-top: 1rem;
	height: 68px;
	text-align: center;
	width: 100%;
	background-color: var(--clr-action);
	display: flex;
	border-radius: 5px;
}

.actions button {
	font-size: var(--fs-subtitle);
	cursor: pointer;
	border: none;
	border-radius: 4px;
	font-weight: bold;
	color: white;
	background-color: var(--clr-action);
	margin-left: 7em;
}

.control_button {
	margin: 1em;
	cursor: pointer;
	border: none;
	padding: 0.75em 1.75em;
	border-radius: 5px;
	background-color: var(--clr-action);
	font-weight: var(--fw-600);
	color: white;
	font-size: var(--fs-dish);
}
.control_button_plus {
	color: white;
	margin-left: 5px;
	font-size: var(--fs-dish);
}
