/*=====================
   Short Cuts  
  =====================*/

.flex {
	display: flex;
}

.flex__sb {
	justify-content: space-between;
}

.flex__col {
	flex-direction: column;
}
/*=====================
    
  =====================*/

.header {
	width: 428px;
	height: 44px;
	background-color: var(--clr-primary);
}

.arrow {
	margin-top: 0.5em;
	margin-left: 1em;
}

.hero__logo {
	align-self: flex-start;
	margin-right: 9.5em;
}
