@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
/*=====================
    basic layout 
 =====================*/

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
}

/*=====================
	 custom layout 
  =====================*/
:root {
	/* font family */
	--ff-primary: 'Roboto', 'san-serif';
	--ff-secondary: 'Inter', 'san-serif';

	/* font weight */
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;

	/* font style  */
	--fs-title: 20px;
	--fs-subtitle:19px
	--fs-dish: 16px;
	--fs-list: 14px;
	--fs-discription: 12px;
	--fs-p: 8px;

	/* font color  */
	--fc-primary: #181919;
	--fc-accent: #999999;
	--fc-white: #ffffff;
	--fc-neutral: #c3c7c7;

	/* background color */
	--clr-primary: #67cecc;
	--clr-action: #eb9b3e;
	--clr-sleeve: #e8f8f7;
	--clr-textarea: #eaebeb;
	--clr-input: rgba(196, 196, 196, 0.12)

}

/*=====================
   typograpghy 	 Layout 
  =====================*/
body {
	font-family: var(--ff-primary);
	background-color: #f6f7f7;
	margin: 0 auto;
}

h1 {
	font-size: var(--fs-title);
	font-family: var(--ff-primary);
	font-weight: var(--fw-600);
	line-height: 24px;
}

h2 {
	font-size: var(--fs-dish);
	font-family: var(--ff-primary);
	font-weight: var(--fw-400);
	font-size: var(--fs-dish);
	line-height: 19px;
}

h3 {
	font-size: var(--fs-list);
	font-family: var(--ff-primary);
	font-weight: var(--fw-600);
}

p {
	font-size: var(--fs-p);
}
header {
}

li {
	list-style: none;
}
footer {
	cursor: pointer;
	background-color: var(--clr-action);
	color: var(--fc-white);
	border-radius: 4px;
	padding: 16px 36px;
	margin: 1em auto;
}
